@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 20%;
  height: 400px;
  max-height: 400px;
  padding: auto;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
}
.card__content {
  width: 90%;
  height: 95%;
  background: #191a19;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
  box-shadow: 2px 2px 15px #969696, -2px -2px 15px #969696;
  transition: 0.25s all ease-in-out;
}
.card__content:hover {
  margin-top: -15px;
}
.card__header {
  font-size: 20px;
}
