.imageItem {
    display: flex;
    margin: 10px 0;
}

.imageItemBtnWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.addDeleteAllBtnWrapper {
    display: flex;
    flex-direction: row;
}

.imageButton {
    background-color: rgb(244, 177, 77);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding-bottom: 2px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.imageButton:hover,
.imageButton:focus {
    background-color: rgb(235, 144, 9);
}

.imageContainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}